<html>
	<head>
		<title></title>
		<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT" crossorigin="anonymous">
	</head>

	<body>
		<div class="container">

			<h1>BitCoin Site</h1>

			<div>
				<a class="btn btn-primary" href="/">Home</a>
				<a class="btn btn-primary" href="/wallet">Brain Wallet</a>
				<a class="btn btn-primary" href="/converter">Converter</a>
			</div>